// * .page-cab (dashboard, assets etc.)

.page-cab {
    position: relative;
    height: 100vh;
    transition: $transition;
    .inner {
        margin: 7rem 0 2rem;
    }
    .dropdown {
        .navlink {
            text-align: left;
        }
    }
}

// * Cabinet page position TODO
.aside-cab ~ .page-cab {
    left: calc($aside-width-open / 2);
    .container {
        width: calc(map-get($map: $container-max-widths, $key: xl) + 6rem);
    }
}

.aside-cab._close ~ .page-cab {
    left: calc($aside-width-close / 1.5);
}

.aside-cab ~ .page-cab, .aside-cab._close ~ .page-cab {
    @include bp(lg) {
        left: 0;
        .container, .inner {
            width: 100%;
        }
    }
}