// * DASHBOARD

.dashboard {
    position: relative;
    height: 100vh;
    transition: $transition;
    .inner {
        margin: 2rem 0;
    }
}

.aside-cab ~ .dashboard {
    max-width: calc(map-get($map: $container-max-widths, $key: xxl) - ($aside-width-open - $aside-width-close));
    left: 6.5rem;
    @include bp(sm) {
        left: 0;
        max-width: map-get($map: $container-max-widths, $key: xs);
    }
}
.aside-cab._close ~ .dashboard {
    max-width: map-get($map: $container-max-widths, $key: xxl);
    left: 1.5rem;
    @include bp(sm) {
        left: 0;
        max-width: map-get($map: $container-max-widths, $key: xs);
    }
}

@media (max-width: 420px) {
    .aside-cab._close .aside-nav-item__submenu {
        display: none;
    }
}