// * DASHBOARD

.dashboard .inner,
.settings .inner {
    column-count: 2;
    column-gap: 2rem;
    @include bp(lg) {
        margin-bottom: 2rem;
    }
    @include bp(md) {
        margin-bottom: 0;
        column-count: 1;
        column-gap: 0;
        & > div {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    @include bp(sm) {
        display: flex;
        flex-direction: column;
        & > div {
            width: 100%;
        }
        .dashboard-balance {
            order: 1;
        }
        .dashboard-log {
            order: 1;
        }
        .dashboard-stat {
            order: 3;
        }
        .dashboard-nav {
            order: 4;
        }
    }
    & > div {
        break-inside: avoid;
        margin-bottom: 2rem;
    }
    // * Nav card
    .dashboard-nav {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0.75rem;
            li:not(:last-of-type) {
                margin-right: 0.75rem;
                padding-right: 0.75rem;
                border-right: 1px solid $dark-color24;
                @include bp(sm) {
                    margin-right: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }
        .navlink {
            font-size: 1.165rem;
            color: $dark-color;
            font-weight: 400;
            @include hover {
                color: $primary-accent-color;
            }
            @include bp(xl) {
                font-size: 1.125rem;
            }
        }
    }
    // * Stat card
    .dashboard-stat {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-auto-flow: row dense;
        gap: 0.75rem 1rem;
        @include bp(md) {
            justify-items: center;
        }
        @include bp(xs) {
            grid-template: repeat(6, 1fr) / 1fr;
            justify-items: stretch;
        }
    }
    .dashboard-balance {
        padding: 0 0 1rem 0;
    }
    .btn {
        margin: 1rem auto 0;
        @include bp(sm) {
            width: 100%;
        }
    }
}

.dashboard .inner .dashboard-balance .btn {
    @include bp(sm) {
        width: calc(100% - 2rem);
    }
}

// * ASSETS

.assets-cab {
    .assets-cab-portfolio {
        padding: 0;
    }
    .assets-cab-store {
        .modal-header {
            padding-bottom: 0.75rem;
            justify-content: space-between;
            .inp {
                font-size: 1rem;
                padding: 0.35rem 0.5rem;
                min-width: 15rem;
            }
            @include bp(sm) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
                .inp {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
        &__content {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            // gap: 0.75rem; // * bad support
        }
    }
}

// * HISTORY

.history {
    .history-filters {
        $md-width: calc(50% - 0.8rem);
        $item-margin: 1.25rem;

        &__label {
            font-size: 1.25rem;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 1rem;

            *:nth-child(n + 5) {
                margin-top: $item-margin;
            }
            .select {
                min-width: 18.5rem;
                &:nth-child(n + 4) {
                    margin-top: $item-margin;
                }
            }
            @include bp(lg) {
                .select {
                    min-width: 15rem;
                }
            }
            @include bp(md) {
                *:nth-of-type(n + 3) {
                    margin-top: $item-margin;
                }
                .select {
                    min-width: $md-width;
                }
            }
            @include bp(xs) {
                flex-direction: column;
                *:not(:first-of-type) {
                    margin-top: $item-margin;
                }
                .select {
                    min-width: 100%;
                }
            }
        }
        .btn {
            min-width: 7.5rem;
            @include bp(md) {
                margin-top: 1.5rem;
                min-width: $md-width;
            }
            @include bp(xs) {
                min-width: 100%;
            }
        }
    }
}

// * SETTINGS

.settings {
    .toggle .toggle__label {
        @include bp(xs) {
            max-width: 15.6rem; // * ~250px
        }
    }
    .settings-toggle-item {
        &:not(:first-of-type) {
            margin-top: 0.75rem;
        }
        .toggle__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// * WATCHLIST

.watchlist-table {
    text-align: left;
    tr > th:last-of-type {
        padding: 1rem 0.5rem 1rem 0.75rem;
    }
    td:last-of-type {
        padding: 1rem 0.5rem 1rem 0.4rem;
    }
    .table-header-title {
        text-align: left;
        &__icon--fill {
            fill: $darken-accent;
            stroke-width: 0;
        }
    }
}

// * CUR RATE

