.promo {
    min-height: 100vh;
    padding: 40px 0;
    background-color: rgb(236, 216, 216);

    .content {
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 0.04em;
        }
        p {
            display: block;
            margin-top: 20px;
            font-size: 20px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }
    .news {
        margin: 40px auto 0;
        padding: 16px;
        border-radius: 16px;
        text-align: center;
        font-weight: 500;
        color: #030303;
        background-color: rgba($color: #fff, $alpha: 0.5);

        span {
            display: block;
            margin-top: 8px;
            font-weight: 700;
        }
        article {
            padding: 12px 0;

            h2 {
                font-size: 24px;
            }
            p {
                margin-top: 8px;
            }
        }
        &__img {
            display: block;
            width: 300px;
            height: 100px;
            margin: 0 auto;
            padding: 12px 0;
        }
    }
    .icons {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin: 20px auto 0;

        &__item {
            svg {
                width: 48px;
                height: 48px;
                fill: #000;
            }
        }
    }
}
