.assets-root {
    .wrapper {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.assets {
    .table {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.terms,
.privacy-policy {
    .ordered-list li::before {
        color: $dark-color;
    }
    .unordered-list li::before {
        background-color: $dark-color;
    }
}
