.assets-root {
    .wrapper {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.assets {
    .table {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}
