.assets-root {
    .wrapper {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.assets {
    .table {
        @include bp(md) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.terms,
.privacy-policy {
    .ordered-list li::before {
        color: $dark-color;
    }
    .unordered-list li::before {
        background-color: $dark-color;
    }
}

.promoactions {
    .page-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        grid-auto-flow: row dense;

        margin: 4rem auto 6rem;
        width: calc(map-get($map: $container-max-widths, $key: xxl) / 12 * 9.95);
        @include bp(xl) {
            width: 100%;
        }
        @include bp(md) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, 1fr);
            grid-column-gap: 0rem;
        }
    }
}

// * Register & Sign in
.register-page {
    background: url('../img/photos/bg/register.svg');
}

.signin-page {
    background: url('../img/photos/bg/signin.svg');
}

.register-page .page-title,
.signin-page .page-title,
.page-title .breadcrumbs a {
    color: $white-color;
}

.register .form-wrapper,
.signin .form-wrapper {
    margin: 2rem auto 0;
}
