// * Allegro form style

.form-wrapper {
    width: 400px;
    max-width: 100%;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(17, 17, 17, 0.3);
}

.form {
    padding: 30px;
}