.dashboard-balance-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
    }
    &__img {
        margin-right: 0.375rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: $sm-border-radius;
    }
    .navlink {
        flex-grow: 1;
        font-weight: 400;
        letter-spacing: 0.02em;
    }
    &__cur-amount {
        border-right: 1px solid $dark-color24;
        margin-right: 0.375rem;
        padding-right: 0.65rem;
    }
    &__usd-amount {
        color: $dark-color24;
        font-weight: 400;
    }
}