.dropdown {
    position: relative;
    & > .navlink {
        span {
            @include str-trim;
            max-width: 9rem;
        }
        display: flex;
        align-items: center;
        svg {
            margin: 0rem 0rem 0rem 0.4rem;
        }
        @include hover {
            color: $white-color !important;
            &::after {
                display: none;
            }
            &:active {
                color: $white-color;
            }
        }
    }
}

.dropdown.active {
    color: $darken-accent;
    svg {
        stroke: $darken-accent;
        transform: rotate(180deg);
    }
}

.dropdown-menu {
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.65rem);
    left: 0;
    margin: auto;
    padding: 0.5rem 0.75rem;
    width: fit-content;
    height: fit-content;

    background-color: $white-color;
    border-radius: $sm-border-radius;
    border: 3px solid $primary-lightgray-color;
    box-shadow: $item-shadow;
    transform: translate(0, -0.5rem);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .navlink + .dropdown-menu {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

// * Hard styling for prevent use !important
.dropdown .dropdown-links .navlink {
    svg {
        stroke: $dark-color;
        stroke-width: map-get($map: $stroke-width, $key: xs);
    }
    @include hover {
        svg {
            stroke: $darken-accent;
        }
    }
}

.header .menu__list .dropdown-links,
.dropdown-links {
    display: flex;
    flex-direction: column;
    li:not(:first-of-type) {
        margin-top: 0.4rem;
    }
    .navlink {
        font-size: 1.15rem;
        white-space: nowrap;
        color: $dark-color;
        &::after {
            display: none;
        }
        @include hover {
            color: $darken-accent;
        }
    }
}
