.floating-bar-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    .btn-group {
        max-width: 19rem;
    }
    @include bp(sm) {
        flex-direction: column;
        .btn-group {
            max-width: 100%;
            .btn {
                margin-top: 1.5rem;
            }
        }
    }
}