.main-assets-item {
    position: relative;
    cursor: help;

    &:disabled {
        cursor: auto;
    }
    img {
        border-radius: $sm-border-radius;
        width: 4rem;
        height: 4rem;
        @include bp(md) {
            width: 3.8rem;
            height: 3.8rem;
        }
    }
}

// * TIPPY CONFIG

.main-asset-theme {
    font-size: 0.9rem;
    font-weight: 500;
    background-color: $light-color;
    color: $dark-color;
}

.main-asset-theme[data-placement^='top'] .tippy-arrow {
    border-top-color: $white-color;
}

.tooltip-disable .main-asset-theme {
    display: none;
}
