.small-screen-notice {
    display: none;
    justify-content: space-between;
    align-items: center;
    max-width: map-get($map: $container-max-widths, $key: xs);
    margin: 0rem auto 1.75rem;
    padding: 0;
    background-color: $white-color;
    border: none;
    border-radius: $sm-border-radius;
    box-shadow: $item-shadow;

    &__img {
        fill: $dark-color;
        min-width: 3.5rem;
        width: 18.6%;
    }
    &__content {
        font-size: 1.125rem;
        line-height: 1.5;
        width: 75%;
        text-align: justify;
    }
    &._active {
        display: flex;
        padding: 0.75rem 1rem;
        border: 2px solid $primary-lightgray-color;
    }
}

.page-cab .small-screen-notice {
    box-shadow: $card-cab-shadow;
}