.store-asset-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: fit-content;
    border: 2px solid $primary-lightgray-color;
    border-radius: $sm-border-radius;
    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
    & > svg:first-of-type {
        border-radius: $sm-border-radius;
    }
    &__label {
        margin: 0 0.75rem 0 0.375rem;
        font-weight: 400;
    }
    &__plus {
        $primary-icon-size: 20px;
        $secondary-icon-size: 0.1rem;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            background-color: $success-green;
        }
        &::before {
            transform: translateX(500%);
            width: $secondary-icon-size;
            height: $primary-icon-size; 
        }
        &::after {
            transform: translate(-5%, -650%);
            width: $primary-icon-size;
            height: $secondary-icon-size;
        }
    }
}