// Для хорошего отобр. шрифтов, подгружаемых с Google Fonts добавляй это в конец ссылки
// &display=swap&subset=cyrillic-ext

// * Font include
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
			url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font("Titillium Web", "TitilliumWeb-Light", "300", "normal");
@include font("Titillium Web", "TitilliumWeb-Regular", "400", "normal");
@include font("Titillium Web", "TitilliumWeb-SemiBold", "600", "normal");
@include font("Titillium Web", "TitilliumWeb-Bold", "700", "normal");