@mixin hover {
    @media (any-hover:hover) {
        &:hover {
            @content;
        }
    }
}

@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin triangle-bottom($width, $height, $border-color) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height calc($width / 2) 0 calc($width / 2);
    border-color: $border-color transparent transparent transparent;
}

@mixin triangle-top($width, $height, $border-color) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 calc($width / 2) $height calc($width / 2);
    border-color: transparent transparent $border-color transparent;
}
