<div class="advant-item">
    <div class="advant-item__img">
        @@itemIcon
    </div>
    <h4 class="h5">@@title</h4>
    <details class="advant-accordion">
        <summary class="summary">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 44.5714C35.3613 44.5714 44.5714 35.3613 44.5714 24C44.5714 12.6387 35.3613 3.42859 24 3.42859C12.6387 3.42859 3.42859 12.6387 3.42859 24C3.42859 35.3613 12.6387 44.5714 24 44.5714Z" stroke-miterlimit="5" />
                <path d="M24 17.1429V37.7143" stroke-miterlimit="5" />
                <path d="M24 10.2857V13.7143" stroke-miterlimit="5" />
            </svg>
            <span class="link">Read more</span>
        </summary>
        <p class="accordion-content advant-item__descr">
            @@descr
        </p>
    </details>
</div>