<div class="dashboard-log-item @@modifClass">
    <div class="dashboard-log-item__type">
        @@svgIcon
        <span class="navlink">@@operationType</span>
    </div>
    <div class="dashboard-log-item__info">
        <div>@@date</div>
        <div>
            <span>To:</span>
            <span class="dashboard-log-item__wallet">@@walletAddress</span>
        </div>
    </div>
    <div class="dashboard-log-item__amount navlink">
        <span class="dashboard-log-item__num">@@num</span>
        <span class="dashboard-log-item__cur-sign">@@curSign</span>
    </div>
</div>