<div class="dropdown" data-dropdown>
    <button type="button" class="navlink" data-dropdown-button>
        <span>@@dropdownLabel</span>
        <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52.48 21.76L32 42.24L11.52 21.76" />
        </svg>
    </button>
    <div class="dropdown-menu">
        <ul class="dropdown-links">
            <li>
                <a href="@@href1" class="navlink">@@label1</a>
            </li>
            <li>
                <a href="@@href2" class="navlink">@@label2</a>
            </li>
            <li>
                <a href="@@href3" class="navlink">@@label3</a>
            </li>
        </ul>
    </div>
</div>