<div class="floating-bar-popup cabinet-card" id="@@popupId">
    <span>@@descr</span>
    <div class="btn-group">
        <form action="@@action1" class="@@formTrigger1">
            <button type="button" class="btn @@btnStyle1" id="@@btnId1">
                <span>@@btnLabel1</span>
            </button>
        </form>
        <form action="@@action2" class="@@formTrigger2">
            <button type="button" class="btn @@btnStyle2" id="@@btnId2">
                <span>@@btnLabel2</span>
            </button>
        </form>
    </div>
</div>