<tr class="assets-table-item history-table-item">
    <td class="assets-table-item__counter">@@orderNumber</td>
    <td>
        <span>@@operType</span>
    </td>
    <td>
        <span>@@curName</span>
    </td>
    <td>
        <span>@@amount</span>
    </td>
    <td>
        <span>@@status</span>
    </td>
    <td>
        <span>@@transactionId</span>
    </td>
    <td>
        <span>@@date</span>
    </td>
    <td class="history-table-item--recipient">
        <span>@@recipient</span>
    </td>
</tr>