<div class="main-rate-item top" id="@@id">
    <div class="main-rate-item__content">
        <div class="main-rate-item__icon">
            <img src="@@currencyIconPath" alt="@@currencyIconAlt">
        </div>
        <h5 class="h3">@@title</h5>
    </div>
    <div class="main-rate-item__output">
        <span class="output" id="@@rateId">@@rate</span>
        <div class="main-rate-item__dir-icon">
            <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.6667 13.3333V5.33334L18.6667 5.33334" stroke-miterlimit="5" />
                <path d="M26.6667 5.33332L5.33332 26.6667" stroke-miterlimit="5" />
            </svg>
        </div>
    </div>
</div>