<nav class="pagination-container">
    <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
        <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52.48 21.76L32 42.24L11.52 21.76" />
        </svg>
    </button>
    <div id="pagination-numbers" class="pagination-numbers">
    </div>
    <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
        <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52.48 21.76L32 42.24L11.52 21.76"/>
        </svg>
    </button>
</nav>