<div class="promoactions-item">
    <div class="promoactions-item__content">
        <h4 class="h4">@@title</h4>
        <div class="hashtag-container">
            <span class="hashtag-item">@@hashtag1</span>
            <span class="hashtag-item">@@hashtag2</span>
            <span class="hashtag-item">@@hashtag3</span>
        </div>
        <form action="@@formAction">
            <button class="btn" type="@@btnType">
                <span>@@btnLabel</span>
            </button>
        </form>
    </div>
</div>