<tr class="assets-table-item history-table-item">
    <td class="assets-table-item__counter">@@orderNumber</td>
    <td class="assets-table-item__currency">
        <img class="assets-table-item__currency-img" src="@@imgPath" alt="@@imgAlt">
        <span class="assets-table-item__currency-name">@@curName</span>
    </td>
    <td>
        <span>@@price</span>
    </td>
    <td>
        <span>@@priceChange</span>
    </td>
    <td>
        <span>@@volume</span>
    </td>
    <td>
        <span>@@marketCup</span>
    </td>
</tr>